{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
Definir possíveis resultados
{% endblock %}

{% block content %}
  <div class="container">

      <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <h6 class="m-0 font-weight-bold text-primary">Como definir possíveis resultados</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="collapseCardExample">
                  <div class="card-body">
                    {% if tipo == "NUM" %}
                        <p>Para exames em que o resultado é um valor inteiro, deve-se indicar os intervalos nos quais se deseja analisar os resultados.</p>
                        <p class="mb-0">Por exemplo, se forem cadastrados os possíveis resultados <b>5</b>, <b>15</b>, <b>100</b> e <b>200</b>, os gráficos para análise deste exame serão da seguinte forma:</p>
                        <canvas id="myChartNI" height=60></canvas>
                    {% else %}
                        <p>Para exames em que o resultado são valores exatos, deve-se indicar os possíveis valores que podem ser cadastrados como resultados do exame.</p>
                        <p class="mb-0">Por exemplo, se forem cadastrados os possíveis resultados <b>Nenhum</b>, <b>Pouco</b>, <b>Razoável</b> e <b>Muito</b>, os gráficos para análise deste exame serão da seguinte forma:</p>
                        <canvas id="myChartVE" height=60></canvas>
                    {% endif %}
                  </div>
                </div>
              </div>

      <form class="form-horizontal" method="POST" action="">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="row form-row spacer">
                <div class="col-2">
                    <label>{{form.valor.label}}</label>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        {{form.valor}}
                        <div class="input-group-append">
                            <a class="btn btn-success add-form-row" onclick="editElements(this)"><i class="fas fa-plus" style="color:white;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
        <!--<div class="row spacer">-->
            <!--<div class="col-4 offset-2">-->
                <button type="submit" class="btn btn-success">Cadastrar</button>
            <!--</div>-->
        <!--</div>-->
        </form>
  </div>

  {% endblock %}

{% block extra_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>
var ctx = document.getElementById('myChartNI').getContext('2d');
var myChartNI = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['resultado <= 5', '5 < resultado <= 15', '15 < resultado <= 100', '100 < resultado <= 200', 'resultado > 200'],
        datasets: [
        {
            label: '# de exames',
            data: [5, 3, 8, 1, 0],
            backgroundColor: 'rgba(74, 111, 220, 1)',
            borderColor: 'rgba(74, 111, 220, 1)',
            borderWidth: 1
        }

        ]

    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById('myChartVE').getContext('2d');
var myChartVE = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Nenhum', 'Pouco', 'Razoável', 'Muito'],
        datasets: [
        {
            label: '# de exames',
            data: [5, 3, 8, 1],
            backgroundColor: 'rgba(74, 111, 220, 1)',
            borderColor: 'rgba(74, 111, 220, 1)',
            borderWidth: 1
        }

        ]

    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

    <script type='text/javascript'>
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+)');
            var replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            var newElement = $(selector).clone(true);
            var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
                var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function() {
                var forValue = $(this).attr('for');
                if (forValue) {
                  forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
                  $(this).attr({'for': forValue});
                }
            });
            total++;
            $('#id_' + prefix + '-TOTAL_FORMS').val(total);
            $(selector).after(newElement);
            var conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
            .removeClass('btn-success').addClass('btn-danger')
            .removeClass('add-form-row').addClass('remove-form-row')
            .html('<span class="fas fa-minus" aria-hidden="true"></span>');
            return false;
        }

        function deleteForm(prefix, btn) {
            var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1){
                btn.closest('.form-row').remove();
                var forms = $('.form-row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (var i=0, formCount=forms.length; i<formCount; i++) {
                    $(forms.get(i)).find(':input').each(function() {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        function editElements(obj) {
            if ($(obj).attr('class').includes("add")) {
                cloneMore('.form-row:last', 'form');
                return false;
            }
            else {
                deleteForm('form', obj);
                return false;
            }
        }
    </script>
{% endblock %}
