
{% load bootstrap4 %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
{% block titulo %}
<h1>Detalhes Exame</h1>
{% endblock %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<script>

    $(document).ready(function()
    {
        $('form').submit(function()
        {
            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                dataType: 'json',
                success: function(data)
                {
                    alert(data.mensagem);
                },
                error: function(data)
                {
                    alert('Ocorreu um erro inesperado!');
                }
            });
        });
    });
</script>


  <div class="container">
    <!--{% for item in nomes %}-->
    <h5>Nome: {{ item.nome }}</h5>
    <!--{% endfor %}-->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Quantidade de exames cadastrados por mês</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                     <canvas id="myChart" style="height: 300px; width: 95%;"></canvas>
                  </div>
                  <hr>
                </div>
              </div>



    <form method="POST" action="">
        <br>
        <p>Escolha a espécie desejada:</p>
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-success" value="Gerar gráfico">
    </form>
        <br>

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Resultados por especie: {{ especie }}</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                     <canvas id="myChartEspecie" style="height: 300px; width: 95%;"></canvas>

                  </div>
                  <hr>
                </div>
              </div>


<script>
var colunas = {{ meses|safe }};
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{labels|safe}},
        datasets: [{
            label: '#Quantidade',
            data: colunas,
            backgroundColor: 'rgba(74, 111, 220, 1)',
            borderColor: 'rgba(74, 111, 220, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


<script>
var colunas2 = {{ resultado|safe }};
var colunas1 = {{ resultado_total|safe }};
var ctx = document.getElementById('myChartEspecie').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ categorias|safe }},
        datasets: [
        {
            label: '#Todos',
            data: colunas1,
            backgroundColor: 'rgba(74, 111, 220, 1)',
            borderColor: 'rgba(74, 111, 220, 1)',
            borderWidth: 1
        },
        {
            label: '#Especie',
            data: colunas2,
            backgroundColor: 'rgba(208, 109, 36, 1)',
            borderColor: 'rgba(208, 109, 36, 1)',
            borderWidth: 1
        }

        ]

    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

  </div>
{% endblock %}
    </div>
</div>