{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
<h1>Detalhes Exame</h1>
{% endblock %}


{% block content %}
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/themes/light_blue.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <style type="text/css"></style>

  <div class="container">

    <h5>Nome: {{ exame.nome }}</h5>

                <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Quantidade de exames cadastrados por mês</h6>
                </div>
                <div class="card-body">
                  <div class="chart-bar">
                     <div id="container" style="height: 300px; width: 100%;"></div>
                  </div>
                  <hr>
                </div>
              </div>

  <script>
      anychart.onDocumentReady(function () {
	// set chart theme
    anychart.theme('morning');
        // create column chart
        var chart = anychart.column();

        // turn on chart animation
        chart.animation(true);

        // set chart title text settings
        chart.title('');

        // create area series with passed data
        var series = chart.column([
          ['Jan', '10'],
          ['Fev', '18'],
          ['Mar', '20'],
          ['Abr', '55'],
          ['Mai', '12'],
          ['Jun', '14'],
          ['Jul', '17'],
          ['Ago', '21'],
          ['Set', '24'],
          ['Out', '23'],
          ['Nov', '2'],
          ['Dez', '24']
           ]);

        // set series tooltip settings
        series.tooltip().titleFormat('{%X}');

        series
          .tooltip()
          .position('center-top')
          .anchor('center-bottom')
          .offsetX(0)
          .offsetY(5)
          .format('${%Value}{groupsSeparator: }');

        // set scale minimum
        chart.yScale().minimum(0);

        // set yAxis labels formatter
        chart.yAxis().labels().format('{%Value}{groupsSeparator: }');

        // tooltips position and interactivity settings
        chart.tooltip().positionMode('point');
        chart.interactivity().hoverMode('by-x');

        // axes titles
        //chart.xAxis().title('Mês');
        chart.yAxis().title('Quantidade');

        // set container id for the chart
        chart.container('container');

        // initiate chart drawing
        chart.draw();
      });

</script>
  </div>
{% endblock %}
