{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
Selecionar amostras
<p class="m-0 h5 font-weight-regular text-gray-500">Exame: {{ exame.nome }}</p>
{% endblock %}

{% block content %}

        <form method="POST">
            {% csrf_token %}
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
            <thead >
                <th></th>
                <th scope="col"><center>#</center></th>
                <th><center>Data</center></th>
                <th><center>Setor</center></th> <!-- Setor -->
                <th><center>Espécie</center></th>
                <th><center>Identificação</center></th> <!-- Número da amostra -->
                <th><center>Tipo</center></th>
                <th><center>Exame</center></th>
            </thead>
  
              <tbody>
  
            {% for amostra in lista_amostras %}
                {% if amostra.data_coleta <= dez and amostra.data_coleta > quinze %}
                    <tr class="table-warning">
                {% elif amostra.data_coleta <= quinze %}
                    <tr class="table-danger">
                {% else %}
                    <tr>
                {% endif %}
                        <th><center><input class="form-check-input" type="checkbox" name="amostras" value="{{amostra.id}}" id="option{{amostra.id}}"></center></th>
                        <th><font color="black"><center>
                            {{ forloop.counter }}
                            <a href="" class="btn btn-primary-outline" data-toggle="modal" data-target="#fm-modal-grid-{{amostra.pk}}"
                                    data-tt="tooltip" title="Deletar">
                                <i class="fa fa-search" aria-hidden="true" style="color:#4e73df"></i>
                            </a>
                        </center></font>
                            <div class="modal fade" id="fm-modal-grid-{{amostra.pk}}" tabindex="-1"
                                     role="dialog" aria-labelledBy="fm-modal-grid-{{amostra.pk}}"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:#4e73df">
                                                <h5 class="modal-title" id=""><strong><font color="white">Amostra {{amostra.identificacao}}</font></strong></h5>
                                                <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    {% if exame in amostra.exames.all %}
                                                        <p>
                                                            <i class="fas fa-microscope" style="color: #1cc88a"></i>
                                                            Foram realizados exames {{exame.nome}} nessa amostra.
                                                        </p>
                                                    {% else %}
                                                        <p>
                                                            <i class="fas fa-microscope" style="color: #e74a3b"></i>
                                                            Não foram realizados exames {{exame.nome}} nessa amostra.
                                                        </p>
                                                    {% endif %}
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <p><strong>Identificação:</strong> {{amostra.identificacao}}</p>
                                                            <p><strong>Origem:</strong> {{amostra.origem}}</p>
                                                            <p><strong>Sexo:</strong> {{amostra.get_sexo_animal_display}}</p>
                                                        </div>

                                                        <div class="col-4">
                                                            <p><strong>Data de coleta:</strong> {{amostra.data_coleta|date:"d/m/y"}}</p>
                                                            <p><strong>Local de coleta:</strong> {{amostra.localidade}}</p>
                                                            <p><strong>Tipo de amostra:</strong> {{amostra.get_tipo_amostra_display}}</p>
                                                        </div>

                                                        <div class="col-4">
                                                            <p><strong>Espécie:</strong> {{amostra.get_especie_animal_display}}</p>
                                                            <p><strong>Setor:</strong> {{amostra.setor}}</p>
                                                            <p><strong>Responsável:</strong> {{amostra.responsavel}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" id="modal-detalhes-{{amostra.pk}}" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                    Test
                                    </div>
                                </div>
                            </div>
                        </th>
                        <td><font color=#383636><center>{{ amostra.data_coleta|date:"d/m/y" }}</center></font></td>
                        <td><font color=#383636><center>{{ amostra.setor }}</center></font></td>
                        <td><font color=#383636><center>{{ amostra.get_especie_animal_display }}</center></font></td>
                        <td><font color=#383636><center>{{ amostra.identificacao }}</center></font></td>
                        <td><font color=#383636><center>{{ amostra.get_tipo_amostra_display }}</center></font></td>
                        <td><font color=#383636>
                            <center>
                                {% if exame in amostra.exames.all %}
                                    <i class="fas fa-check" style="color:#1cc88a"></i>
                                {% else %}
                                    <i class="fas fa-times" style="color:#e74a3b"></i>
                                {% endif %}
                            </center>
                            </font>
                        </td>
                    </tr>  
            {% endfor %}
            </tbody>
          </table>
          </div>
          <input type="submit" class="btn btn-success" value="Próximo">
        </form>
{% endblock %}
