{% extends "base.html" %}

{% block arquivos_js_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Amostra/css/list_style.css' %}"/>
<script src="{% static 'Amostra/js/list_js.js' %}"></script>
{% endblock %}

{% block titulo %}
	  Usuários Inativos
{% endblock %}

{% block content %}



    {% if lista_user %}
         <table id="dtBasicExample" class="table" cellspacing="0" width="100%">
          <thead >
            <th scope="col">#</th>
            <th>Nome</th>
            <th>Usuario</th>
            <th>E-mail</th>
            <th></th>
          </thead>

             <tbody>
             {% for user in lista_user %}
                <tr>
                 <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ user }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email}}</td>
                    <td>
                        <a href="" class="btn btn-danger-outline"
                            data-toggle="modal" data-target="#fm-modal-grid-{{user.pk}}">
                            <i class="fa fa-user-plus" aria-hidden="true" style="color:green"></i>
                        </a>
                        <div class="modal fade" id="fm-modal-grid-{{user.pk}}" tabindex="-1"
                             role="dialog" aria-labelledBy="fm-modal-grid-{{user.pk}}"
                            aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                     <div class="modal-header" style="background-color: rgb(78,115,223);">
                                         <h5 class="modal-title" id=""><strong><font color="white">Ativar usuário</font></strong></h5>
                                        <button class="close" data-dismiss="modal" aria-label="Cerrar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <p><strong>Você tem certeza que deseja ativar o usuário:</strong> {{ user }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer" style="background-color: rgb(78,115,223);">
                                        <form action="{% url 'usuario:mudar_ativo_status' ativo_status=1 usuario=user.pk %}" method="POST">
                                               {% csrf_token %}
                                               <button class="btn btn-success">Ativar</button>
                                        </form>
                                        <button class="btn btn-dark" data-dismiss="modal">Cancelar</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
             {% endfor %}

             </tbody>
         </table>
    {% else %}
         <p>Não há usuários inativos no sistema</p>
    {% endif %}
{% endblock %}