{% extends "base.html" %}

{% load crispy_forms_tags %}  

{% block titulo %}
Editar amostra
{% endblock %}

{% block content %}



    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-4">
            {{ form.data_coleta|as_crispy_field}}
          </div>
          <div class="col-4">
            {{ form.especie_animal|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.tipo_amostra|as_crispy_field}}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form.localidade|as_crispy_field}}
          </div>
          <div class="col-4">
            {{ form.origem|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.setor|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            {{ form.identificacao|as_crispy_field}}
          </div>
          <div class="col-6">
            {{ form.sexo_animal|as_crispy_field }}
          </div>
        </div>
          <input type="hidden" name="next" value="{{request.GET.next}}">
          <input type="submit" class="btn btn-success" name="" value="Atualizar" >
        </form>
      </div>
{% endblock %}