{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
Amostra {{ amostra.identificacao }}
	{% if alerta != None %}
		<i class="fas fa-exclamation-triangle" style="color:{{alerta}}"></i>
	{% endif %}
{% endblock %}

{% block titulo_lateral %}
	<a href="{% url 'amostra:editar' pk=amostra.pk %}?next={{ request.path }}" class="btn btn-warning-outline"
	data-toggle="tooltip" title="Editar">
	<i class="fas fa-pencil-alt" style="color:blue"></i>
	</a>
	<a href="" class="btn btn-danger-outline" data-toggle="modal" data-target="#fm-modal-grid-{{amostra.pk}}"
			data-tt="tooltip" title="Deletar">
		<i class="fa fa-trash" aria-hidden="true" style="color:black"></i>
	</a>
	<div class="modal fade" id="fm-modal-grid-{{amostra.pk}}" tabindex="-1"
			role="dialog" aria-labelledBy="fm-modal-grid-{{amostra.pk}}"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header" style="background-color: rgb(78,115,223) ;">
					<h5 class="modal-title" id=""><strong><font color="white">Deletar Amostra</font></strong></h5>
					<button class="close" data-dismiss="modal" aria-label="Cerrar">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 col-sm-6">
								<p><strong>Você tem certeza que deseja deletar a seguinte amostra:</strong></p>
								<p>Identificação: {{amostra.identificacao}}</p>
								<p>Origem: {{amostra.origem}}</p>
								<p>Espécie: {{amostra.get_especie_animal_display}}</p>
								<p>Tipo de amostra: {{amostra.get_tipo_amostra_display}}</p>
								<p>Sexo: {{amostra.get_sexo_animal_display}}</p>
								<p>Local de coleta: {{amostra.localidade}}</p>
								<p>Setor: {{amostra.setor}}</p>
								<p>Data de coleta: {{amostra.data_coleta}}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer" style="background-color: rgb(78,115,223);">
					<form action="{% url 'amostra:deletar' pk=amostra.pk %}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="next" value="{{request.path}}">
							<button class="btn btn-danger">Deletar</button>
					</form>
					<button class="btn btn-dark" data-dismiss="modal">Cancelar</button>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Data da coleta</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.data_coleta|date:"d/m/Y"}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-calendar fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-success shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Localidade</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.localidade}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-map-marked-alt fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-secondary shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Origem</div>
				  <div class="row no-gutters align-items-center">
					<div class="col-auto">
					  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{amostra.origem}}</div>
					</div>
				  </div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-warehouse fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Setor</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.setor}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-vector-square fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-danger shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Espécie</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.get_especie_animal_display}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-paw fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-dark shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">Tipo de amostra</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.get_tipo_amostra_display}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-syringe fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Sexo do animal</div>
				  <div class="row no-gutters align-items-center">
					<div class="col-auto">
					  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{amostra.get_sexo_animal_display}}</div>
					</div>
				  </div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-venus-mars fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
		  <div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
			  <div class="row no-gutters align-items-center">
				<div class="col mr-2">
				  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Responsável</div>
				  <div class="h5 mb-0 font-weight-bold text-gray-800">{{amostra.responsavel}}</div>
				</div>
				<div class="col-auto">
				  <i class="fas fa-user fa-2x text-gray-300"></i>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>

			<!-- {% if user.is_superuser or amostra.responsavel.pk == user.pk %} -->
				<!--<div class="text-right">-->
        			<!--<a href="{% url 'exame:AdicionarExame' pk=amostra.pk %}" class="btn btn-success">Adicionar exame</a>-->
				<!--</div>-->
			<!-- {% endif %} -->
			<!--<h1><strong>Amostra {{ amostra.identificacao }}</strong></h1>-->
			<!-- <h5>Data: {{ amostra.data_coleta }} </h5> -->
			<!-- <h5>Responsavel: {{ amostra.responsavel }} </h5> -->
			<!-- <h5>Localidade: {{ amostra.localidade }}</h5> -->
			<!-- <h5>Setor: {{ amostra.setor }}</h5> -->
    		<!-- <h5>{{ amostra.get_tipo_amostra_display }}</h5> -->
    		<!-- <h5>Especie: {{ amostra.get_especie_animal_display }}</h5> -->
    		<!-- <h5>Sexo: {{ amostra.sexo_animal }}</h5> -->
			<!-- <br> -->

	
	<div class="row">
		<div class="col-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Exames realizados</h6>
				</div>
				<div class="card-body">
					{% if lista_exames %}
						<table class="table" cellspacing="0" width="100%">
							<thead >
								<th><center>Nome do exame</center></th>
								<th><center>Resultado</center></th>
								<th></th>
							</thead>
				
							<tbody>
								{% for exame in lista_exames %}
									<tr>
										<td><center>{{exame.exame.nome}}</center></td>
										<td>
											{% if exame.exame.tipo_resultado == 'NUM' %}
											<center>{{ exame.resultado_numerico }}</center>
											{% else %}
											<center>{{ exame.resultado_textual }}</center>
											{% endif %}
										</td>
									</tr>
								{% endfor %}
						</table>
					{% else %}
						<h5>Não foram realizados exames nessa amostra.</h5>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Registrar resultado de exame</h6>
				</div>
				<div class="card-body">
					{% for exame in exames_cadastrados %}
						<a href="{% url 'exame:NovoAdicionarExame' pk=amostra.pk exame=exame.pk %}" class="btn btn-success-outline" data-toggle="tooltip" title="Registrar resultado">
							<i class="fas fa-plus" aria-hidden="true" style="color:#165d08"></i>
						</a>

						{{exame.nome}}
						<br>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>


  </div>


{% endblock %}