{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
Amostra {{ amostra.identificacao }}
{% endblock %}

{% block content %}
<div class="container">

			{% if user.is_superuser or amostra.responsavel.pk == user.pk %}
				<!--<div class="text-right">-->
        			<!--<a href="{% url 'exame:AdicionarExame' pk=amostra.pk %}" class="btn btn-success">Adicionar exame</a>-->
				<!--</div>-->
			{% endif %}
			<!--<h1><strong>Amostra {{ amostra.identificacao }}</strong></h1>-->
			<h5>Data: {{ amostra.data_coleta }} </h5>
			<h5>Responsavel: {{ amostra.responsavel }} </h5>
			<h5>Localidade: {{ amostra.localidade }}</h5>
			<h5>Setor: {{ amostra.setor }}</h5>
    		<h5>{{ amostra.get_tipo_amostra_display }}</h5>
    		<h5>Especie: {{ amostra.get_especie_animal_display }}</h5>
    		<h5>Sexo: {{ amostra.sexo_animal }}</h5>
			<br>

	<h2><strong>Exames</strong></h2>
	{% if lista_exame %}
		{% for exame in lista_exame %}
			<h5>Exame: {{ exame.exame }}</h5>
			{% if exame.exame.tipo_resultado == 'NUM' %}
				<h5>Resultado: {{ exame.resultado_numerico }}</h5>
			{% else %}
				<h5>Resultado: {{ exame.resultado_textual }}</h5>
			{% endif %}
			<br>
		{% endfor %}
	{% else %}
		<h5>Nao há exame adicionado</h5>
	{% endif %}

	<br>

	{% if exames_cadastrados %}
		{% for exame in exames_cadastrados %}
			<a href="{% url 'exame:NovoAdicionarExame' pk=amostra.pk exame=exame.pk%}" class="btn btn-success">Exame {{exame}}</a>
		{% endfor %}
	{% endif %}


  </div>


{% endblock %}