{% extends "base.html" %}

{% block titulo %}
<h1 class="h3 mb-0 text-gray-800">Página inicial</h1>
<div class="text-right">
    <a href="{% url 'amostra:adicionar' %}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
             <i class="fas fa-plus"></i>
        </span>
        <span class="text">Adicionar amostra</span>
    </a>
    <a href="{% url 'exame:CadastrarExame' %}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
             <i class="fas fa-plus"></i>
        </span>
        <span class="text">Registrar Exame</span>
    </a>
    <!--<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Registrar Exame</a>-->
</div>

{% endblock %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
<script src="path/to/chartjs/dist/Chart.js"></script>

<div class="container">
    <div class="row">

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                     <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Amostra total(mês)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ qtdA }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Exames total(mês)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ qtdE }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Amostras abertas</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ pctAB }}%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Minhas amostras abertas</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ MAB }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

         <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Amostras e Exames cadastradas (ultimos 12 meses)</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Exames realizados (ultimos 6 meses)</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="MenuChartUm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="MenuChartUm">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-pie pt-8 pb-4">
                    <canvas id="myDoughnutChart" style="height: 225px; width: 95%;" ></canvas>
                  </div>
                </div>

              </div>
            </div>
          </div>
    </div>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ coluna | safe }},
        datasets: [
        {
            label: '#Amostras',
            data: {{ mesA | safe }},
            backgroundColor: 'rgba(74, 111, 220, 0)',
            borderColor: 'rgba(74, 111, 220, 2)',
            borderWidth: 2.5
        },
        {
            label: '#Exame',
            data: {{ mesE | safe }},
            backgroundColor: 'rgba(35, 207, 243, 0)',
            borderColor: 'rgba(35, 207, 243, 2)',
            borderWidth: 2.5
        }
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
<script>
var ctx = document.getElementById('myDoughnutChart').getContext('2d');
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: {{ LE | safe }},
        datasets: [
        {
            label: '#Exame',
            data: {{ LEV | safe }},
            backgroundColor: ['rgba(74, 111, 220, 1)','rgba(35, 207, 243, 1)','rgba(208, 109, 36, 1)','rgba(34, 177, 76, 1)'],
            borderColor: ['rgba(74, 111, 220, 1)','rgba(35, 207, 243, 1)','rgba(208, 109, 36, 1)','rgba(34, 177, 76, 1)'],
            borderWidth: 1
        }
        ]
    },
    options: {
        scales: {

        }
    }
});
</script>



	
{% endblock %}