{% extends "base.html" %}

{% block arquivos_js_css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Amostra/css/list_style.css' %}"/>
<script src="{% static 'Amostra/js/list_js.js' %}"></script>
{% endblock %}

{% block content %}

	<h1>Minhas amostras finalizadas</h1>

	{% if lista_amostrasUserFinalizada %}
        <table id="dtBasicExample" class="table" cellspacing="0" width="100%">
          <thead >
            <th scope="col">#</th>
            <th><center>Data da amostra</center></th>
            <th><center>Identificação</center></th> <!-- Número da amostra -->
            <th><center>Responsavel</center></th>
            <th><center>Local Coleta</center></th> <!-- Setor -->
            <th><center>Tipo de amostra</center></th>
            <th><center>Espécie</center></th>
            <th><center>Sexo</center></th>
            <th></th>
          </thead>

            <tbody>
          {% for amostra in lista_amostrasUserFinalizada %}

              <tr>
                  <th scope="row"><center>{{ forloop.counter }}</center></th>
                  <td><center>{{ amostra.data_coleta|date:"d M Y" }}</center></td>
                  <td><center>{{ amostra.identificacao }}</center></td>
                  <td><center>{{ amostra.responsavel }}</center></td>
                  <td><center>{{ amostra.local_coleta }}</center></td>
                  <td><center>{{ amostra.tipo_amostra }}</center></td>
                  <td><center>{{ amostra.especie_animal }}</center></td>
                  <td><center>{{ amostra.sexo_animal }}</center></td>

                  <td>

                      <a action="{% url 'amostra:mudar_status' status=1 amostra=amostra.pk %}" method="POST" >
                          {% csrf_token %}
                          <input class="fa fa-circle" aria-hidden="true" name="status" style="color:green">

                      </a>


                </td>

              </tr>

          {% endfor %}

          </tbody>
        </table>
      {% else %}
        <p>Não há amostras cadastradas!</p>
      {% endif %}
{% endblock %}